body {
    background-color: rgb(251, 191, 253);
    font-family: cursive;

}
h1 {
    color: #ff42d6;
}
h3 {
    color:#ff42d6;
}
marquee {
    color: rgb(149, 56, 255);
}

a {
    padding: 100px;
    color: rgb(5, 201, 5);
}
a:hover {
    color: #ff42d6;
}